*{

}
div label{
    color: black;
}
#tentacles{
    margin: auto auto auto auto;
}
.Valorant{
    padding: 1em 2em 2em 0em;
}
body{
    color: rgb(153,50,204);
    font-size: 1in;
    background-color:#fff
}

h1{
    color: green;
    background-color: #ffffff;
    border-style: dashed solid;
    border-color: red;
    border-width: thick;
    border-radius: 25% 10%;
    line-height: 2em;

}
h2,h3{
    color: rgba(255, 255, 255,1);
    font-size: 3ch;

}
h1 ~ iframe{
    color: orange;
}
h3{
    font-size: 2rem;
    display: block;
}
h3[target=blank] {
    color:hsl(0, 100%, 50%);
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    display: none;
    position: sticky;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

}
datalist > option{
    color: red;
}
header + footer{
    font-size: 3cm;
}
footer{
    color:hsla(288, 100%, 100%, 1);
    margin-top: auto;
    height: 50px;
    max-width: 900px;
    min-width: 100px;
    width: auto;
    text-decoration: underline;
    text-align: center;
    position:relative;
}
h2.tester{
    background-color: chartreuse;
}
h1:hover {
    color: orange;
  }
h1:active{
    color:darkblue
}
@media only screen and (max-width: 200px) {
    body {
      background-color:darkred;
    }
  }
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.item{
    flex-grow: 1;
}
.container1{
    display:grid;
    grid-gap: 10px;
    justify-items: center;
}
.item1{
    align-self: end;
}